@layout('layouts/app')

@section('content')
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="box">
        <a href="https://imgur.com/WtkDnFf"><img src="/assets/imgs/i477780 (1).jpeg" title="source: imgur.com" /></a>
      </div>
    </div>
  </div>
@endsection
